version: '3.3'

volumes:
  pg_data:
  static:

services:
  db:
    image: postgres:13.10
    volumes:
      - pg_data:/var/lib/postgresql/data/
    env_file:
      - ../.env

  backend:
    build:
      context: ../foodgram
      dockerfile: Dockerfile
    restart: always
    volumes:
      - static:/app/static/
    depends_on:
      - db
    env_file:
      - ../.env

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend/:/app/result_build/

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ./docs/:/usr/share/nginx/html/api/docs/
      - static:/var/html/static/
    depends_on:
      - backend
      - frontend

