requests
Django==3.2.3
djangorestframework==3.12.4
PyJWT
djangorestframework-simplejwt
django-filter
djoser==2.1.0
pyyaml
uritemplate
django-cors-headers==3.13.0
xhtml2pdf
psycopg2-binary==2.9.3
drf-base64